html, body{
    min-height: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}

.main{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 60px auto -70px;
    padding: 0 0 70px;
}

.footer {
    margin-top:30px;
    margin-bottom: 0px;
    height: 70px;
    line-height: 50px;
}

.footer  > div{
    border-top: 1px solid rgba(0,0,0,.1);
}


.hr-custom{
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* NAVBAR */
.nabvar-custom{
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 60px;
}

.nav-link-separator{
    display: block;
    padding: .5rem 0rem;
}

/* HOME */
.home-icon{
    font-size: 100px;
    margin:20px;
}

/* PROFILE*/
.profile-circle{
    background-color: gray;
    width:250px;
    height:250px;
}

.profile-circle-text{
    padding-top:50px;
    padding-left:85px;
    font-size: 100px;
    color:white;
}

/* COURSES */
.course-on-list{
    margin: 20px 0;
}


/* NEWS */
.news-list {
    padding:20px;
}

.news-list:nth-child(odd){
    background-color: rgba(0,0,0,0.1);
}

.news-list .news-link{
    visibility: hidden;
}

.news-list:hover .news-link{
    visibility: visible;
}


.invalid-feedback-custom{
    display: block;
}