{% load course_tags %}

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="pdfkit-orientation" content="Landscape"/>
	</head>
	<body>
		
		<h1>Raport z kursu {{ course.name }}</h1>
		<h4>({% now "jS F Y H:i" %})</h4>
		<div>
			<form method="POST">
				{% csrf_token %}
				<input type="submit" value="Generuj PDF">	
			</form>
		</div>

		<table style="width:100%; text-align: center;">
			<tr>
				<th>#</th>
				<th>Nazwisko i imie</th> 
				<th>Nr indeksu</th>
				<th>Grupa</th>
				{% for lecture in course.course_lecture.all %}
					<th>{{ lecture.name }}</th>
				{% endfor %}
				<th>Suma (/{{ course.get_max_points }}pkt)</th>
			</tr>
			{% for obj in users_course.all %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ obj.user.get_full_name }}</td>
				<td>{{ obj.user.index }}</td>
				<td>{{ obj.user.group }}</td>
				{% for lecture in course.course_lecture.all %}
					{% get_user_lecture_stats obj.user lecture as stats %}
						<td>
							<table style="width: 100%; text-align: center;">
								<tr>
									<td title="punkty z zajęć ({{ stats.status }})" style="width:50%;">{{ stats.points }}pkt</td>
									<td title="status zadania" style="width:50%;">{{ stats.task }}</td>
								</tr>
							</table>
						</td>
				{% endfor %}
				<td>{% get_user_course_points obj.user course %}</td>
			</tr>
			{% endfor %}
		</table>

	</body>
</html>