<h2>Witaj {{ user_name }}!</h2>
<div>Twoje konto w serwisie <strong>tutme.pl</strong> zostało utworzone,
aby dokończyć proces rejestracji <strong>potwierdź swój adres email</strong>.</div>

<div style="margin:50px 100px;">
	<a href="{{ activation_link }}">
		<div style="width: 250px; height: 50px; border: 1px solid gray; text-align: center;">Kliknij aby potwierdzić adres email</div>
	</a>
</div>

<div>Link aktywujący Twoje konto:</div>
<div>{{ activation_link }}</div>