<h2>Witaj {{ user_name }}!</h2>
<div>jeżeli chcesz dokończyć proces <strong>restowania hasła</strong> do swojego konta postepuj kliknij w link poniżej,
jeżeli to nie Ty wystąpiłeś o zmianę hasła, zignoruj tą wiadomość.</div>

<div style="margin:50px 100px;">
	<a href="{{ reset_link }}">
		<div style="width: 250px; height: 50px; border: 1px solid gray; text-align: center;">Kliknij aby zresetować hasło</div>
	</a>
</div>

<div>Link resetujący Twoje hasło:</div>
<div>{{ reset_link }}</div>