{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>tutme / e-learning platform</title>

    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}"  rel="stylesheet">
    
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand fixed-top bg-white nabvar-custom">
        <a class="navbar-brand" href="/">tutMe</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'courses' %}">Kursy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'announcements' %}">Ogłoszenia</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Twoje konto</a>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">wyloguj</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
              </li>
              <li class="nav-item">
                <div class="nav-link-separator">/</div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Rejestruj</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="main">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}

      <div class="container px-4">

        {% block main %}
        {% endblock %}

      </div><!-- /.container -->
    </main>

      <footer class="footer navbar-fixed-bottom">
        <div class="container">
          <p class="float-right">&copy; 2017 Michał Grudzień</p>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
