{% extends 'base.html' %}

{% block main %}

	<hr class="hr-custom">
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading">Witaj na platformie e-learningowej!</h2>
	    <p class="lead">Znajdziesz tu kursy, dzięki którym przyswoisz wiedze.</p>
	  </div>
	  <div class="col-md-5 m-auto">
	  	<div class="text-center">
	    	<i class="fa fa-graduation-cap home-icon" aria-hidden="true"></i>
		</div>
	  </div>
	</div>

	<hr class="hr-custom">

	<div class="row featurette">
	  <div class="col-md-7 order-md-2">
	    <h2 class="featurette-heading">Sledź swoje postępy w nauce</span></h2>
	    <p class="lead">Do korzystania z platformy niezbędne jest osobiste konto studenta. Kliknij <a href="{% url 'register' %}">tu</a> i załóż je już teraz ;)</p>
	    <p class="lead">Jeżeli masz juz konto <a href="{% url 'login' %}">zaloguj się</a>.</p>
	  </div>
	  <div class="col-md-5 m-auto order-md-1">
	  <div class="text-center">
	  	<i class="fa fa-user-o home-icon" aria-hidden="true"></i>
	  </div>
	  </div>
	</div>

	<hr class="hr-custom">

	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading">Ważne ogłoszenia</h2>
	    <p class="lead">W tym miejscu znajdziesz ważne ogłoszenia zamieszczone przez prowadzących kursy.</p>
	    <div class="row d-block d-sm-block d-md-none">
			<div class="col-md-5 m-auto">
				<div class="text-center">
				<i class="fa fa-list home-icon" aria-hidden="true"></i>
				</div>
			</div>
	    </div>
	    <div class="row">
		    <div class="mt-5 ml-5">
			    {% for news in last_news %}
					<p>{{ news.text }}</p>
					<hr>
			    {% endfor %}
			    <p><a href="{% url 'announcements' %}">Zobacz wszystkie ogłoszenia</a></p>
		    </div>
		 </div>
	  </div>
	  <div class="col-md-5 m-auto d-none d-sm-none d-md-block">
	  	<div class="text-center">
	   		<i class="fa fa-list home-icon" aria-hidden="true"></i>
	    </div>
	  </div>
	</div>


{% endblock %}