{% extends '../base.html' %}

{% block main %}
	{% if user_courses %}
		<hr class="hr-custom">

		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="featurette-heading">Twoje kursy</h2>
			</div>
		</div>

		<hr class="hr-custom">

		<div class="row">
			<div class="col-md-12">
				{% for course in user_courses %}
					<div><a href="{% url 'course' course_slug=course.slug %}">{{ course.name }}</a></div>
					<div>{{ course.description }}</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-8 mx-auto">
			<h2 class="featurette-heading">Wszystkie kursy dostępne na platformie</h2>
			<h4 class="featurette-heading">wybierz, na które chcesz się zapisać</h4>
		</div>
	</div>

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-12">
			{% for course in object_list %}
				<div class="course-on-list">
					<div><a href="{% url 'course' course_slug=course.slug %}">{{ course.name }}</a></div>
					<div>{{ course.description }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}