{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-8 mx-auto">
			<h2 class="featurette-heading">Podaj hasło do zajęć</h2>
			<h4>{{ lecture }}</h4>
			<div>
				<form method="POST">
					{% csrf_token %}
                    <div class="form-group row">
                        <label for="password" class="col-md-3 col-form-label">Hasło*:</label>
                        <div class="col-md-4"> {{ form.password|addatr:"class: form-control, id:password" }}</div>
                        {% if form.password.errors %}
							{% for error in form.password.errors %}
                        		<div class="invalid-feedback">{{ error.as_text }}</div>
                    		{% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                       <div class="col-md-7">
                            <div class="text-right">
                                <input type="submit" class="btn btn-outline-primary" value="Zacznij lekcje">
                            </div>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>

	<hr class="hr-custom">
{% endblock %}

