{% extends '../base.html' %}
{% load course_tags %}

{% block main %}

	<hr class="hr-custom">
		<h1>Kurs</h1>
		<h3>{{ lecture_name }}</h3>
	
	<hr class="hr-custom">
	
	<div class="row">
		<div class="col-md-10 mx-auto">
			{% for lecture in lecture_list %}
				<div class="row">
					<div class="col-md-6">
						<span>{{ forloop.counter }}.</span>
						<span>
							{% if lecture.is_active %}
								<span>
									<a href="{% url 'lecture' course_slug=lecture.course.slug lecture_slug=lecture.slug %}">{{ lecture.name }}</a>
								</span>
							{% else %}
								{{ lecture.name }}
							{% endif %}
						</span>
					</div>
					<div class="col-md-4">
						<span>{% get_user_lecture_status request.user lecture %}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}