{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}


    {%if err %}
        {{ err }}
    {% else %}
        {% for p in content %}
        	{% autoescape off %}
                <div class="pt-5">
            	{{ p.content }}
                 </div>
        	{% endautoescape %}
        {% endfor %}


    <div class="mt-5">
        {% if form %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="task" class="col-md-3 col-form-label">Zadanie*:</label>
                    <div class="col-md-4"> {{ form.task|addatr:"class: form-control, id:task" }}</div>
                </div>
                <div class="row">
                   <div class="col-md-7">
                        <div class="text-right">
                            <input type="submit" class="btn btn-outline-primary " value="Zapisz zadanie">
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

    <div class="mt-5">
        <nav aria-label="navigation mt-5">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if not content.has_previous %}disabled{% endif %}">
                {% if content.has_previous %}
                    <a href="?page={{ content.previous_page_number }}" class="page-link">Poprzednia</a>
                {% else %}
                    <a href="#" class="page-link">Poprzednia</a>
                {% endif %}
            </li>
            {% for page in content.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            <li class="page-item {% if not content.has_next %}disabled{% endif %}">
                {% if content.has_next %}
                    <a href="?page={{ content.next_page_number }}" class="page-link">Następna</a>
                {% else %}
                    <a href="#" class="page-link">Następna</a>
                {% endif %}
            </li>
          </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML"></script>
{% endblock %}