{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

    <hr class="hr-custom">

    <div class="row">
        <div class="col-md-12">
            <h2>Zadanie zostało przesłane do prowadzącego!</h2>
            <h3>po jego weryfikacji laboratoria zostaną zaliczone</h3>
            <h5>Możesz bezpiecznie wyłączyć komputer.</h5>
        </div>
    </div>
    
    {% if file %}
        <hr class="hr-custom">

        <div class="row">
            <div class="col-md-12">
                <h2>Materiały z laboratorium</h2>
                <p>Aby pobrać materiały kliknij  <a href="{{ file.url }}">tutaj</a></p>
                <h3>Chcesz, żeby Ci przesłać te materiały na maila?</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-form-label">Email*:</label>
                        <div class="col-md-4"> {{ form.email|addatr:"class: form-control, id:email" }}</div>
                    </div>
                    <div class="row">
                       <div class="col-md-7">
                            <div class="text-right">
                                <input type="submit" class="btn btn-outline-primary " value="Wyślij">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}