{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

    <hr class="custom-hr">

    <div class="row">
        <div class="col-md-12">
            <h2>Wybierz zadanie</h2>
            <div class="h3">z zajęć {{ lecture.course.name }} - {{ lecture.name }}</div>
        </div>
    </div>

    <hr class="custom-hr">

    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="task" class="col-md-3 col-form-label">Zadanie*:</label>
                    <div class="col-md-4">
                        {{ form.task|addatr:"class: form-control, id:task" }}
                        {% if form.task.errors %}
                            {% for error in form.task.errors %}
                                <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="text-right">
                            <input type="submit" class="btn btn-outline-primary w-25" value="Zapisz">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}