{% extends '../base.html' %}

{% block main %}

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-8 mx-auto">
			<h2 class="featurette-heading">Najnowsze ogłoszenia</h2>
		</div>
	</div>

	<hr class="hr-custom">
	<div class="row">
		<div class="col-md-12">
			{% for news in object_list %}
				<div class="row news-list" id='a{{ news.pk }}'>
					<div class="col-3">
						<div class="news-link d-inline-block"><a href="{% url 'announcements' %}#a{{ news.pk }}">#</a></div>
						<div class="d-inline-block">{{ news.updated|date:"d.m.Y H:i" }}</div>
					</div>
					<div class="col-6">{{ news.text }}</div>
					<div class="col-3">{{ news.get_author }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}