{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

    <hr class="hr-custom">

    <h2>Załóż nowe konto</h2>
    <h5>Posiadasz już konto? <a href="{% url 'login' %}">Zaloguj się.</a></h5>

    <hr class="hr-custom">

    <div class="row">
        <div class="col-md-12">
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-form-label">Email*:</label>
                        <div class="col-md-4">
                            {{ form.email|addatr:"class: form-control, id:email" }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-3 col-form-label">Hasło*:</label>
                        <div class="col-md-4">
                            {{ form.password1|addatr:"class: form-control, id:password" }}
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password2" class="col-md-3 col-form-label">Powtórz hasło*:</label>
                        <div class="col-md-4">
                            {{ form.password2|addatr:"class: form-control, id:password2" }}
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-7">
                            <div class="text-right">
                                <input type="submit" class="btn btn-outline-primary w-25" value="Utwórz konto">
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}