{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

    <hr class="hr-custom">

    <h2>Resetuj hasło</h2>

    <hr class="hr-custom">

    <div class="row">
        <div class="col-md-12">
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="password" class="col-md-3 col-form-label">Podaj nowe hasło*:</label>
                        <div class="col-md-4"> {{ form.password|addatr:"class: form-control, id:password" }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="password2" class="col-md-3 col-form-label">Powtórz nowe hasło*:</label>
                        <div class="col-md-4"> {{ form.password2|addatr:"class: form-control, id:password2" }}</div>
                    </div>
                    <div class="row">
                       <div class="col-md-7">
                            <div class="text-right">
                                <input type="submit" class="btn btn-outline-primary w-25" value="Zmień hasło">
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}