{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}

    <hr class="hr-custom">

    <h2>Resetuj hasło</h2>
    <h5>Nie masz konta? <a href="{% url 'register' %}">Załóż nowe.</a></h5>

    <hr class="hr-custom">

    <div class="row">
        <div class="col-md-12">
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-form-label">Email*:</label>
                        <div class="col-md-4"> {{ form.email|addatr:"class: form-control, id:email" }}</div>
                    </div>
                    <div class="row">
                       <div class="col-md-7">
                            <div class="text-right">
                                <input type="submit" class="btn btn-outline-primary w-25" value="Resetuj hasło">
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}