{% extends '../base.html' %}
{% load form_attrs %}

{% block main %}
    <hr class="custom-hr">

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="featurette-heading">Edycja Twojego profilu</h2>
        </div>
    </div>

    <hr class="custom-hr">

    <div class="row">
        <div class="col-md-12">
        {% if form %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="firstName" class="col-md-3 col-form-label">Imie*:</label>
                    <div class="col-md-4">
                        {{ form.first_name|addatr:"class: form-control, id:firstName" }}
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-md-3 col-form-label">Nazwisko*:</label>
                    <div class="col-md-4">
                        {{ form.last_name|addatr:"class: form-control, id:lastName" }}
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputIndex" class="col-md-3 col-form-label">Number indeksu*:</label>
                    <div class="col-md-4">
                        {{ form.index|addatr:"class: form-control, id:inputIndex" }}
                        {% if form.index.errors %}
                            {% for error in form.index.errors %}
                                <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputGroup" class="col-md-3 col-form-label">Grupa dziekańska*:</label>
                    <div class="col-md-4">
                        {{ form.group|addatr:"class: form-control, id:inputGroup" }}
                        {% if form.group.errors %}
                          {% for error in form.group.errors %}
                                  <div class="invalid-feedback invalid-feedback-custom">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="text-right">
                            <input type="submit" class="btn btn-outline-primary w-25" value="Zapisz">
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}