{% extends '../base.html' %}

{% block main %}

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-8 mx-auto">
			<h2 class="featurette-heading">Witaj {{ object.get_short_name }}!</h2>
			<h4>Tu znajdziesz informacje o swoim postępie z loboratorium oraz dane osobiste</h4>
		</div>
	</div>

	<hr class="hr-custom">

	<h3>Twoje zaliczenia laboratorii</h3>
	<div class="row">
		<div class="col-md-12">
			{% if courses %}
				{% for course in courses %}
					<h3>{{ course.course.name }} <small>( {{ course.get_user_points }}/{{ course.course.get_max_points }} pkt.)</small></h3>		
					<table class="table table-sm table-hover table-responsive">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Laboratorium</th>
					      <th scope="col">Status zadania</th>
					      <th scope="col">Punkty</th>
					      <th scope="col">Zadanie domowe</th>
					      <th scope="col">Ostatnia modyfikacja</th>
					      <th scope="col">Przesłano</th>
					    </tr>
					  </thead>
					  <tbody>
				  		{% for lecture in course.lectures_in_course.all %}				
						    <tr>
						      <th scope="row">{{ forloop.counter }}</th>
						      <td>{{ lecture.lecture.name }}</td>
						      <td>{{ lecture.get_status_display }}</td>
						      <td>{% if lecture.get_status_display == "Przesłano" %}&#8212;&#8212;{% else %}{{ lecture.points }}{% endif %}</td>
						      <td>
						      	<a href="{% url 'task' lecture.lecture.course.slug lecture.lecture.slug %}">{{ lecture.get_task.get_status_display|default:"Oczekuje" }}</a>
						      </td>
						      <td>{{ lecture.updated|date:"d.m.y H:i" }}</td>
						      <td>{{ lecture.created|date:"d.m.y H:i" }}</td>
						    </tr>
					    {% endfor %}
					  </tbody>
					</table>
				{% endfor %}
			{% else %}
				<h4 class="text-center text-muted">Brak akcji do wyświetlenia</h4>
			{% endif %}
		</div>
	</div>

	<hr class="hr-custom">

	<div class="row">
		<div class="col-md-12">
			<h2>
				<span>Twoje dane osobiste</span>
				<a href="{% url 'profile-edit' %}">
					<button type="button" class="btn btn-sm btn-outline-info">edytuj</button>
				</a>
			</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="rounded-circle profile-circle mx-auto">
						<div class="profile-circle-text"> {{ object.get_short_name|first }}</div>
					</div>
				</div>
				<div class="col-5 m-auto pt-4">
					<div class="row">
						<div class="col-6"><strong>imie</strong></div>
						<div class="col-6">{{ object.first_name }}</div>
					</div>
					<div class="row">
						<div class="col-6"><strong>naziwsko</strong></div>
						<div class="col-6">{{ object.last_name }}</div>
					</div>
					<div class="row">
						<div class="col-6"><strong>email</strong></div>
						<div class="col-6">{{ object.email }}</div>
					</div>
					<div class="row">
						<div class="col-6"><strong>numer indeksu</strong></div>
						<div class="col-6">{{ object.index|default:"&#8212;&#8212;&#8212;&#8212;" }}</div>
					</div>
					<div class="row">
						<div class="col-6"><strong>grupa dziekańska</strong></div>
						<div class="col-6">{{ object.group|default:"&#8212;&#8212;&#8212;&#8212;" }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}